body{
    background-color: powderblue;
    font-family: "Comic Sans MS";
}

#container1{
    border-radius: 7px;
    background-image: linear-gradient(to top, rgb(17, 144, 223), rgb(9, 9, 178));
}