body{
    background-color: rgb(rgb(83, 152, 237),);
    font-family: "Comic Sans MS";
}

button{
    border-radius: 9px;
    display: inline;
    align-items: center;
}

#container1{
    background-image: linear-gradient(to bottom rgb(98, 232, 237) rgb(0, 119, 255));
font-family: cursive;
}
