body{
background-color: rgb(0, 0, 0);
}

.h1{
    color:white;
}

p{
    color:white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button{
    color:white;
    background-color: black;
    border-radius: 10px;
    border-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#1bt{
    background-color: black;
    border-color: white;
    border-radius: 10px;
}